polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.systemd1.manage-units") {
        var unit = action.lookup("unit");
        var verb = action.lookup("verb");

        // Define your requirements here
        if (unit == "sysd-manager-proxy.service" &&
            (verb == "start" || verb == "stop" || verb == "restart") &&
            subject.user == "solitude") {
            return polkit.Result.YES;
        }
    }
});
