[Unit]
Description=x11 autostart
After=graphical-session.target
Requires=graphical-session.target
Wants=xdg-desktop-autostart.target
Before=xdg-desktop-autostart.target

[Service]
Type=oneshot
ExecStart=%E/systemd/user/scripts/x11-autostart

[Install]
WantedBy=graphical-session.target
