/* Hide tabbar */
#TabsToolbar {
  display: none !important;
}

#sidebar {
  max-width: none !important;
  min-width: 0px !important;
  width: 20em !important;
}

/* Hide sidebar header and outline */
#sidebar-box + #sidebar-splitter {
  display: none !important;
}

#sidebar-box #sidebar-header {
  display: none !important;
}
