/* Hide tabbar */
#TabsToolbar {
  display: none !important;
}

/* Hide sidebar header and outline */
#sidebar-box + #sidebar-splitter {
  display: none !important;
}

#sidebar-box #sidebar-header {
  display: none !important;
}
