#TabsToolbar {
  visibility: collapse !important;
}

#sidebar {
  max-width: none !important;
  min-width: 0px !important;
}
#sidebar-box + #sidebar-splitter {
  display: none !important;
}
#sidebar-box #sidebar-header {
  visibility: collapse;
}
