body {
  height: 100%;
  background: <{color.bg}>;
  color: <{color.fg}>;
  font-family: monospace;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10%;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 2%;
  padding: 2%;
}

header {
  color: <{color4}>;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5%;
}

.item:hover {
  background: <{color.fg}>;
}

.item:hover a {
  color: <{color.bg}>;
}

a:link {
  display: block;
  text-decoration: none;
  color: <{color.fg}>;
  font-size: 1.5rem;
}

a:visited {
  color: <{color.fg}>;
}
